*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1a1a;
    font-style: roboto;
    color: white;
    line-height: 1.6;
}
.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
   
}
.side-bar{
    height: 90vh;
    background-color: #2a2a2a;
    border-radius: 16px;
    border: 1px solid #3a3a3a;
    padding: 20px;
    position: sticky;
    top: 40px;
}
.profile{
    text-align: center;
    margin-bottom: 0px;
}
.profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    border: 1px solid #555;
}
.profile h2{
    text-align: center;
    font-size: 14px;
    font-weight: 700px;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    display: inline-block;
    text-align: center;
    font-size: 0.8rem;
    background-color: #1e1e1e;
    border: 1px solid #3a3a3a;
    padding: 8px 12px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #FFBF00;
    
}
/*contact information*/
.personal-details{
    margin-top: 15px;
    border-top: 2px solid #3a3a3a;
    padding-top: 15px;

}
.label{
    font-size: 0.75rem;
    color: #888;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.value{
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}
.email{
    margin-bottom: 10px;
}
.phone{
    margin-bottom: 10px;
}
/*social media*/
.socials{
    margin-top: 15px;
    border-top: 2px solid #3a3a3a;
    padding-top: 15px;
    text-align: center;
}
.socials img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
} 
.socials img:hover{
    filter: grayscale(0) invert(0);
    cursor: pointer;
}
/* main content starts here*/
.main-content{
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 16px;
    border: 1px solid #3a3a3a;
    
}
/*Navigation*/
#navigation{
   padding: 10px 30px;
}
nav{
    display: flex;
    justify-content: end;
    gap: 40px;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #3a3a3a;

}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}
.active, nav a:hover{
    color: #FFBF00;
}
/*ABOUT ME SECTION*/
#about-me{
    padding: 30px;
    border-bottom: 1px solid #3a3a3a;
}
.heading{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.line{
    width: 60px;
    height: 4px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}   
.content{
    text-align: justify;
    color: #a0a0a0;
}
/*SKILLS SECTION*/
#skills{
    padding: 30px;
    border-bottom: 1px solid #3a3a3a;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 30px;
}

.item{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item:hover{
    transform: scale(1.1);
    box-shadow:0px 0px 10px 5px rgba(255,191,0,0.3);
}
.item img{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    filter: brightness(0) saturate(100%) invert(77%) sepia(12%) saturate(3488%) hue-rotate(358deg) brightness(100%) contrast(106%);
    margin-bottom: 15px;
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
#education{
    padding: 30px;
    border-bottom: 1px solid #3a3a3a;
}
.edtech{
    position: relative;
    margin-top: 20px;
}
.year{
    color: #a0a0a0;
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.edu-level{
    color: #e0e0e0;
    font-size: 1.1rem;
    font-weight: 600;   
    margin-bottom: 5px;
}
.institute{
    font-style: italic;
    color: #a0a0a0;
}
.work{
    color: #a0a0a0;
}
.edu-1, .edu-2, .edu-3{
    margin-bottom: 35px;
    position: relative;
    padding-left: 25px;
}

.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #FFBF00;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 5;
}
.liner{
    position: absolute;
    width: 2px;
    top: 0px;
    bottom:0px;
    left: 5px;
    border: 2px solid #3a3a3a;
}
#portfolio{
    padding: 30px;
}
.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

}
.card{
    background-color: #1e1e1e;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow:0px 0px 10px 5px rgba(255,191,0,0.3);
}
.card img{
    height: 180px;
    width: 100%;    
    object-fit: cover;
}
.discription-card{
    padding: 20px;
}
.discription-card h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #e0e0e0;
}
.discription-card p{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 15px;
}
.discription-card span{
    font-size: 0.8rem;
    color: #FFBF00;
    background-color: #3c2c1c4f;;
    border-radius: 5px;
    padding: 5px;
}
@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .side-bar{
        position: static;
        height: auto;
    }
}
